@font-face {
  font-family: 'Roboto Condensed';
  src: url("app/fonts/Roboto-Condensed/RobotoCondensed-Regular.woff") format("woff"), url("app/fonts/Roboto-Condensed/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("app/fonts/Fira-Sans/FiraSans-Medium.woff") format("woff"), url("app/fonts/Fira-Sans/FiraSans-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #1b1818;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  min-width: 20rem;
  pading: 1.6rem 0 1.5rem;
  text-align: center;
  background-color: #C5AC2D;
}

.btn:hover, .btn:focus {
  background-color: #fefefe;
  color: #C5AC2D;
}

.btn-play {
  pading: 0.6rem 3.4rem;
}

.btn-link {
  display: inline-block;
}

.tabs {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.tabs-primary {
  background-color: #C5AC2D;
}

.tabs-black {
  background-color: #332208;
}

.tabs-active {
  widht: 16px;
  hieght: 16px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li + li {
  margin-left: 2.4rem;
}

.menu__link {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fefefe;
}

.active-link {
  border-bottom: 1px solid #fefefe;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #332208;
  height: 8rem;
}

.inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-header__phone {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fefefe;
  padding-left: 3rem;
  background: url("images/svg/phone.svg") left no-repeat;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .inner-header__phone {
    position: relative;
    font-size: 0;
    line-height: 24px;
    width: 20px;
    height: 20px;
    display: inline-block;
    z-index: 10;
  }
  .inner-header__logo {
    position: relative;
    z-index: 10;
  }
  .menu__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
  }
  .menu__icon::before, .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after, .menu__icon::before {
    content: '';
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10rem 3rem 3rem 3rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    background-color: #332208;
    z-index: 5;
  }
  .menu__body.active {
    left: 0;
  }
  .inner-heder__column:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li + li {
    margin-top: 3rem;
  }
  .menu__link {
    font-size: 2.4rem;
  }
}

@media (max-width: 858px) {
  html {
    font-size: 9px;
  }
}

.box {
  width: 500px;
  height: 500px;
  background: red;
  margin: 20px auto;
}
